<% if configuration.readme %>
  <section class="readme" id="readme">
    <article>
      <%= raw formatted_readme %>
    </article>
  </section>
<% end %>
<%= render 'all_examples' if configuration.single_page %>
